
<section class="card">
    <div class="card-body">
        <h2>Hi there!</h2>
        <h1 class="black">My name is Alejandro Chazarreta and I'm a programmer and SEO/SEM specialist.</h1> <p>I recently completed a back-end bootcamp at the IT Academy of Barcelona, which has equipped me with the latest skills and knowledge in the field of web development. With my expertise in both programming and digital marketing, I am well-positioned to help businesses grow and succeed online. Whether it's building a new website, optimizing content for search engines, or running effective advertising campaigns, I am committed to delivering results and exceeding expectations. Let's work together to take your business to the next level!</p>
         <a href="https://locomotorarender.com" class="btn btn-primary">Author</a>
    </div>
</section>