<div class="jumbotron mt-4">
    <h1 class="display-4 black">Client Manager App</h1>
    <p class="lead">Welcome! This is a CRUD project in Node.js and MongoDB with Express, Handlebars, and Bcrypt. </p>
    <hr class="my-4">
    <p>If you're looking for an easy and straightforward way to create, read, update, and delete data in a database, you've come to the right place! This project is designed to be easily integrated into your web application with no hassle. With an intuitive user interface and advanced security features, you can efficiently manage your data and protect it against possible attacks. Are you ready to simplify your data management? Try this project now!</p>
    <a href="https://locomotorarender.com" class="btn btn-primary">Author</a>
</div>